services:
  weather:
    image: ${REPOSITORY_URL}:${TAG:-latest}
    build:
      context: .
      dockerfile: Dockerfile
    container_name: weather-alerts
    env_file: .env
    volumes:
      - ./data:/data
    restart: unless-stopped
    command: '-c ${TELEGRAM_CHAT_ID} -z ${WEATHER_ZIP_CODE} -s "${CRON_SCHEDULE}" -o /data'
